@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

html{
    font-size: 62.5%;
}
html,body{
    height: 100%;
    width: 100vw;
}
body{
    font-family: 'Mochiy Pop P One', sans-serif;
}
