@import "_ress", "_common";

// テスト用
.urls {
    font-size: 3.0rem;
    display: flex;
    flex-direction: column;
}
// テスト用

@mixin stripeBack {
    background: repeating-linear-gradient(-45deg,#C9EAFF 0,#C9EAFF 20px,#DEF2FF 20px,#DEF2FF 40px);
}

main {
    width: 100vw;
    height: calc(100vh);
}

.btnArea {
    position: absolute;
    bottom: 19.0rem;
}

// Head & Foot
.homeHead {
    height: 6.5rem;
    background: #FF9239;
    display: flex;
    align-items: center;
    &__content {
        display: flex;
        align-items: center;
        width: 100%;
        &__xpBar {
            position: relative;
            width: 16.7rem;
            height: 5.8rem;
            display: flex;
            align-items: center;
            margin: 0 0 0 2.4rem;
            .xpTxt {
                position: absolute;
                left: 10.8rem;
                top: 0;
                color: #FFD76A;
                font-size: 1.2rem;
                text-align: right;
            }
             .bar {
                 position: relative;
                 &__circle {
                     position: relative;
                     z-index: 200;
                     width: 4.1rem;
                     height: 4.1rem;
                     border-radius: 50%;
                     background: #fff;
                     border: solid #FFD76A 0.4rem;
                     padding: 0.2rem 0 0 0;
                     &__rank {
                         position: absolute;
                         top: -1.3rem;
                         left: -0.2rem;
                     }
                     &__num {
                         text-align: center;
                          font-size: 2.0rem;
                          color: #FF9239;
                     }
                 }
                 &__box {
                     width: 14.6rem;
                     height: 1.5rem;
                     background: #fff;
                     border-radius: 0.4rem;
                     position: absolute;
                     left: 2.0rem;
                     top: 1.2rem;
                     z-index: 100;
                     &__xp {
                       width: 80%;
                       height: 1.5rem;
                       background: #FFD76A;
                       border-radius: 0.4rem;
                     }
                 }
             }
        }
        &__money {
            width: 8.0rem;
            height: 5.0rem;
            background: #fff;
            border-radius: 0.5rem;
            padding: 0.6rem 0.7rem 0 0.2rem;
            margin: 0 0 0 5.1rem;
            .money {
                display: flex;
                justify-content: space-between;
                margin: 0 0 0 0.6rem;
                text-align: right;
            }
            .ticket {
                display: flex;
                justify-content: space-between;
                text-align: right;
            }
        }
       &__alert {
           margin: 0 0 0 1.2rem;
       } 
    }
}
.homeFoot {
    background: #ABFEB1;
   position: fixed;
   bottom: 0;
   height: 10.0rem;
}
// Head & Foot

// LoadView
.loading {
    padding: 6.4rem 0 10.8rem 0;
    @include stripeBack();
    &__imgs {
        width: 100%;
        height: 10.4rem;
        display: flex;
        justify-content: space-around;
        &__content {
            background: #C6C6C6;
            width: 10.4rem;
            height: 10.4rem;
            border-radius: 50%;
        }
    }
    &__txt {
        height: calc(100% - 10.4rem *2);
        color: #000333;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
            font-weight: 100;
            text-align: center;
            font-size: 3.2rem;
        }
    }
}

// titleView 
.title {
    padding: 4.2rem 2.4rem 9.2rem 2.4rem;
    @include stripeBack();
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    &__logo {
        width: 100%;
        margin: 0 0 14.8rem 0;
        &__txt {
            text-align: center;
            font-size: 1.8rem;
            font-weight: 100;
        }
    }
}

// newName
.newName {
    padding: 4.2rem 2.4rem 9.2rem 2.4rem;
    @include stripeBack();
    display: flex;
    align-items: center;
    flex-direction: column;
    &__box {
        margin: 23.0rem 0 0 0;
        &__txt {
            margin: 0 0 4.8rem 0;
            font-size: 2.4rem;
            text-align: center;
        }
        &__input {
            width: 32.0rem;
            height: 7.2rem;
            background: #fff;
            font-size: 2.4rem;
            text-align: center;
        }
        &__input::placeholder {
            color: #000333;
            opacity: 0.3;
        }
    }
}

// charaSelect
.charaSelect {
    padding: 4.2rem 2.4rem 9.2rem 2.4rem;
    @include stripeBack();
    display: flex;
    align-items: center;
    flex-direction: column;
    &__box {
        &__txt {
            font-size: 2.4rem;
            text-align: center;
            margin: 18.5rem 0 4.8rem 0;
        }
        .selectArea {
            display: flex;
            align-items: center;
            &__btn {
                width: 15.8rem;
                height: 20.6rem;
                background: #fff;
                input {
                    display: none;
                }
                label {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border: solid 0.8rem #B2B3C1;
                    border-radius: 1.0rem;
                    font-size: 2.2rem;
                    font-weight: 100;
                    text-align: center;
                    padding: 1.0rem 0 0 0;
                }
                .humans {
                    background: url('../img/humansIcon.svg');
                    background-position: center;
                    background-size: contain;
                }
                .animals {
                    background: url('../img/animalsIcon.svg');
                    background-position: center;
                    background-size: contain;

                }
                input:checked + label {
                    border: solid 0.8rem #FF9239;
                }
            }
            &__btn:nth-child(1) {
                margin: 0 1.6rem 0 0;
            }
        }
    }
}

// charaComp
.charaComp {
    padding: 4.2rem 2.4rem 9.2rem 2.4rem;
    @include stripeBack();
    display: flex;
    align-items: center;
    flex-direction: column;
    &__box {
        &__txt {
            font-size: 2.4rem;
            text-align: center;
            margin: 10.9rem 0 4.8rem 0;
        }
        &__chara {
            width: 23.6rem;
            height: 30.2rem;
            border: solid 0.8rem #FF9239;
            border-radius: 1.0rem;
            background: #fff;

            &__content {
                width: 100%;
                height: 100%;
                background: url('../img/chara.svg');
                background-repeat: no-repeat;
                background-position-x: 34px;
                background-position-y: 74px;
                padding: 1.5rem 0 2.4rem 0;
                p {
                    font-size: 2.4rem;
                    text-align: center;
                }
            }
        }
    }
    .btnArea {
        display: flex;
        flex-direction: column;
        bottom: 11.8rem;
        svg:nth-child(1) {
            margin: 0 0 1.6rem 0;
        }
    }
}

// Home
.home {
    background: url('../img/background.svg');
    padding: 0 0 0 0;
    &__content {
        position: relative;
        width: 39.7rem;
        height: 32.2rem;
        margin: 15.5rem auto 0 auto;
        &__room {
        }
        &__icons {
            position: absolute;
            bottom: 0;
            left: 1.0rem;
            width: 6.5rem;
            height: 14.8rem;
        }
    }
    &__battle {
        width: 20.0rem;
        margin: 3.0rem auto 0 auto
    }
}

// RoomCustom {
.roomCustom {
    position: relative;
    background: url('../img/background.svg');
    padding: 0 0 0 0;
    .goodsIcon {
        position: absolute;
        top: 8.9rem;
        right: 2.4rem;
    }
    &__content {
        position: relative;
        width: 39.7rem;
        height: 32.2rem;
        margin: 15.5rem auto 0 auto;
    }
    &__custom {
        width: 20.0rem;
        margin: 3.0rem auto 0 auto
    }
}

// mypage
.mypage {
    @include stripeBack();
    h1 {
        text-align: center;
        font-size: 2.4rem;
        font-weight: 300;
        margin: 3.2rem 0 0 0;
    }
    &__content {
        height: calc(100% - 16.5rem);
        overflow-y: scroll;
        .changeSelect {
            width: 7.9rem;
            height: 2.9rem;
            margin: 1.6rem auto 0 auto;
            .changeSelectSvg {
                cursor: pointer;
            }
        }
        &__stats {
            position: relative;
            width: 36.6rem;
            height: 13.6rem;
            border-radius: 1.0rem;
            margin: 1.6rem auto 0 auto;
            padding: 1.2rem 0 0 0;

            .overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                background: #8EAEC1;
                mix-blend-mode: multiply;
                border-radius: 1.0rem;
            }
            h2 {
                position: relative;
                z-index: 100;
                text-align: center;
                color: #fff;
                font-size: 2.0rem;
                font-weight: 100;
                letter-spacing: 1.0rem;
                padding: 1.2rem 0 0 0;
            }
            &__box {
                position: relative;
                z-index: 100;
                display: flex;
                justify-content: space-around;
                padding: 0.8rem 0.5rem 0 1.8rem;
                .statsCircle {
                    text-align: center;
                    width: 6.9rem;
                    height: 6.9rem;
                    background: #fff;
                    border-radius: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    p {
                        font-size: 2.4rem;
                        font-weight: 100;
                        color: #FF506F;
                    }
                    h3 {
                        font-weight: 100;
                    }
                }
                .statsTxt {
                    text-align: left;
                    font-size: 1.2rem;
                    span {
                        font-size: 1.6rem;
                    }
                }
            }
        }
        &__changeName {
            width: 25.0rem;
            margin: 2.8rem auto 0 auto;
            .penIcon {
                margin: 0 0 0 0.8rem;
            }
            label {
                display: flex;
                align-items: center;
                font-size: 1.6rem;
            }
            input {
                width: 100%;
                height: 3.0rem;
                background: #fff;
                border-radius: 1.0rem;
                text-align: center;
                font-size: 1.4rem;
                margin: 2.4rem 0 0 0;
            }
        }
        &__changeIcon {
            width: 25.0rem;
            margin: 2.8rem auto 0 auto;
            .penIcon {
                margin: 0 0 0 0.8rem;
            }
            label {
                display: flex;
                align-items: center;
                font-size: 1.6rem;
            }
            .changeIconView {
                width: 7.0rem;
                height: 7.0rem;
                border-radius: 1.0rem;
                margin: 2.4rem auto 0 auto;
                background-image: url('../img/iconChange.svg');
                background-color: #fff;
            }
        }
        &__changeTitle {
            width: 25.0rem;
            margin: 2.8rem auto 0 auto;
            .penIcon {
                margin: 0 0 0 0.8rem;
            }
            label {
                display: flex;
                align-items: center;
                font-size: 1.6rem;
            }
            input {
                width: 100%;
                height: 3.0rem;
                background: #fff;
                border-radius: 1.0rem;
                text-align: center;
                font-size: 1.4rem;
                margin: 2.4rem 0 0 0;
            }
        }
        &__changeChara {
            width: 25.0rem;
            margin: 2.8rem auto 0 auto;
            .penIcon {
                margin: 0 0 0 0.8rem;
            }
            label {
                display: flex;
                align-items: center;
                font-size: 1.6rem;
            }
            .changeCharaView {
                width: 17.4rem;
                height: 22.2rem;
                background: url('../img/charaChange.svg');
                margin: 1.6rem auto 0 auto;
            }
        }
        &__changeProfile {
            width: 25.0rem;
            margin: 2.8rem auto 0 auto;
            .penIcon {
                margin: 0 0 0 0.8rem;
            }
            label {
                display: flex;
                align-items: center;
                font-size: 1.6rem;
            }
            textarea {
                width: 100%;
                height: 15.0rem;
                background: #fff;
                border-radius: 1.0rem;
                text-align: center;
                font-size: 1.4rem;
                padding: 1.5rem 2.5rem 0 2.5rem;
                margin: 2.4rem 0 0 0;
            }
        }
    }
    .homeFoot {
        background: none;
    }
}

// battleHome
.battleHome {
    background: url('../img/battleBack.svg');
    &__content {
        padding: 17.2rem 0 0 0;
        .battleTxt {
            width: 12.4rem;
            margin: 0 auto;
        }
        .battleBtns {
            width: 32.8rem;
            height: 13.4rem;
        }
        .soloBattleBtn {
            margin: 3.6rem auto 0 auto;
        }
        .multiBattleBtn {
            margin: 4.8rem auto 0 auto;
        }
        .missionBtn {
            margin: 4.8rem auto 0 auto;
        }
    }
}

// genSelect
.genSelect {
    background: url('../img/battleBack.svg');
    &__content {
        padding: 17.7rem 0 0 0;
        &__titleArea {
            width: 29.0rem;
            margin: 0 auto 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .soloTitleTxt {
                margin: 5.4rem 0 0 0;
            }
        }
        &__btnArea {
            width: 29.0rem;
            margin: 6.4rem auto 0 auto;
            .heiwaBtn {
                margin: 2.9rem 0 0 0;
            }
            .syouwaBtn {
                margin: 2.9rem 0 0 0;
            }
        }
    }
}

// rareSelect
.rareSelect {
    background: url('../img/battleBack.svg');
    padding: 16.6rem 0 0 0;
    &__content {
        &__titleArea {
            display: flex;
            justify-content: center;
        }
        &__btnArea {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 4.9rem 0 0 0;
            .rareBtnMargin {
                margin: 2.8rem 0 0 0;
            }
        }
    }
}

// itemSelect
.itemSelect {
    background: url('../img/battleBack.svg');
    &__content {
        padding: 8.2rem 0 0 0;
        &__titleArea {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0 0 2.9rem 0;
            .itemSelTxt {
                margin: 4.8rem 0 0 0;
            }
        }
        &__selectArea {
            position: relative;
            width: 36.4rem;
            height: 52.8rem;
            border-radius: 1.2rem;
            margin: 0 auto;
            .selectBtn {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 1.4rem;
                margin: 0  auto;
                z-index: 100;
            }
            .backOverlay {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: #8EAEC1;
                mix-blend-mode: multiply;
                border-radius: 1.2rem;
            }    
            .selectBox {
                position: relative;
                width: 33.2rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 0 auto 0 auto;
                padding: 2.6rem 0 0 0;
                &__content {
                    width: 10.0rem;
                    height: 11.2rem;
                    margin: 0 0 1.3rem 0;
                    &__img {
                        width: 10.0rem;
                        height: 8.0rem;
                        background-color: #fff;
                        border-radius: 1.0rem;
                        background-image: url('../img/itemDemo.svg');
                        background-position: center;
                        margin: 0 0 0.8rem 0;
                    }
                    &__txt {
                        display: flex;
                        align-items: center;
                        padding: 0 1.0rem;
                        &__rareTxt {
                            display: flex;
                            align-items: center;
                            p {
                                color: #fff;
                                font-size: 1.6rem;
                            }
                        }
                        &__itemTxt {
                            color: #fff;
                            font-size: 1.2rem;
                            margin: 0 0 0 0.8rem;
                        }
                    }
                }
            }
        }
    }
}

// matchingView
.matchingView {
    @include stripeBack();
    padding: 7.3rem 0 0 0;
    &__content {
        &__titleArea {
            width: 22.6rem;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .quizTypeTitle {
                margin: 0 auto;
            }
            .itemRank {
                width: 19.0rem;
                display: flex;
                justify-content: space-between;
                margin: 1.2rem 0 0 0;
                &__txt {
                    font-size: 1.6rem;
                }
                &__rank {
                    display: flex;
                    align-items: center;
                    p {
                        font-size: 1.6rem;
                    }
                }
            }
            .matchingTxt {
                font-size: 2.4rem;
                margin: 2.4rem 0 0 0;
            }
        }
        &__playersArea {
            width: 32.0rem;
            margin: 0  auto;
            .playerNum {
                 text-align: right;
                 font-size: 1.6rem;
            }
            &__box {
                margin: 0.8rem 0 0 0;
                 .player {
                     position: relative;
                      width: 32.0rem;
                      height: 12.8rem;
                      border-radius: 1.0rem;
                      display: flex;
                      align-items: center;
                      margin: 0 0 1.6rem 0;
                    .overlayBack {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: #8EAEC1;
                        mix-blend-mode: multiply;
                        border-radius: 1.0rem;
                    }
                    &__chara {
                        z-index: 100;
                        width: 8.0rem;
                        height: 10.8rem;
                        background-color: #fff;
                        background-image: url('../img/matchingChara.svg');
                        background-position: center;
                        border-radius: 1.0rem;
                        margin: 0 0 0 1.6rem;
                    }
                    &__stats {
                        height: 10.8rem;
                        z-index: 100;
                        color: #fff;
                        margin: 0 0 0 2.4rem;
                        &__name {
                            font-size: 1.6rem;
                        }
                        &__item {
                            display: flex;
                            align-items: center;
                            margin: 0.8rem 0 0 0;
                            .itemIcon {
                                width: 5.3rem;
                                height: 5.7rem;
                                border-radius: 0.4rem;
                                background-color: #fff;
                                background-image: url('../img/itemDemoMini.svg');
                                background-position: center;
                            }
                            .itemTxt {
                                display: flex;
                                align-items: center;
                                margin: 1.6rem;
                                &__rank {
                                    display: flex;
                                    align-items: center;
                                    p {
                                        font-size: 1.6rem;
                                    }
                                }
                                &__itemName {
                                    font-size: 1.2rem;
                                    margin: 0.7rem;
                                }
                            }
                        }
                    }
                 }
            }
        }
    }
}

// quizStart
.quizStart {
    @include stripeBack();
    padding: 25.8rem 0 0 0;
    &__content {
        width: 22.0rem;
        height: 24.8rem;
        margin: 0  auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
}

// twoChoice
.twoChoice {
    @include stripeBack();
    &__content {
        padding: 6.1rem 0 0 0;
        &__titleArea {
            width: 18.2rem;
            margin: 0 auto 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            p {
                margin: 1.6rem 0 0 0;
                font-size: 2.4rem;
            }
        }
        &__quizTxt {
            width: 36.6rem;
            padding: 2.6rem 2.0rem;
            background-color: #fff;
            margin: 1.6rem auto 0 auto;
            p {
                font-size: 1.6rem;
            }
        }
        &__quizChoice {
            width: 36.0rem;
            height: 17.6rem;
            margin: 1.6rem auto 0 auto;
            display: flex;
            justify-content: space-between;

            // ユーザーの選択によって変更
            .true {
                width: 17.6rem;
                height: 17.6rem;
                border: 0.3rem solid #EF9DAC;
                border-radius: 0.6rem;
                background-color: #fff;
                background-image: url('../img/choiceTrue.svg');
                background-position: center;
            }
            .trueSel {
                width: 17.6rem;
                height: 17.6rem;
                border: 0.3rem solid #EF9DAC;
                border-radius: 0.6rem;
                background-color: #F42D53;
                background-image: url('../img/selChoiceTrue.svg');
                background-position: center;
            }
            .false {
                width: 17.6rem;
                height: 17.6rem;
                border: 0.3rem solid #74C5F8;
                border-radius: 0.6rem;
                background-color: #fff;
                background-image: url('../img/choiceFalse.svg');
                background-position: center;
            }
            .selFalse {
                width: 17.6rem;
                height: 17.6rem;
                border: 0.3rem solid #74C5F8;
                border-radius: 0.6rem;
                background-color: #3D80D9;
                background-image: url('../img/selChoiceFalse.svg');
                background-position: center;
            }
            // ユーザーの選択によって変更
        }
        .timeBar {
            position: relative;
            width: 35.8rem;
            height: 2.7rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0.8rem auto 0 auto;
            .timeIcon {
                z-index: 100;
            }
            &__box {
                position: absolute;
                z-index: 50;
                left: 1.6rem;
                width: 30.7rem;
                height: 1.4rem;
                border: 0.3rem solid #000333;
                border-radius: 0.7rem;
                &__num {
                    width: 50%;
                    height: 100%;
                    background: #54C985;
                    border-radius: 0.7rem;
                }
            }
            &__txt {
                font-size: 1.0rem;
            }
        }
        .answerBtn {
            display: block;
            margin: 4.8rem auto 0 auto;
        }
        .gamePlayers {
            position: relative;
            width: 34.0rem;
            display: flex;
            justify-content: space-between;
            margin: 3.4rem auto 0 auto;

            // 正誤によって変更
            .userSelFalseBox {
                margin: 2.5rem 0 0 0;
            }
            // 正誤によって変更

            &__player {
                position: relative;
                width: 8.4rem;
                height: 10.6rem;
                display: flex;
                justify-content: center;
                flex-direction: column;
                .playerItem {
                    position: absolute;
                    top: -0.8rem;
                    left: -0.8rem;
                    z-index: 100;
                     width: 3.0rem;
                     height: 3.0rem;
                     background-color: #fff;
                     background-image: url('../img/gameItemDemo.svg');
                     background-position: center;
                     box-shadow: 1px 5px 11px -8px rgba(0,0,0,0.6);
                }
                .playerIcon {
                    position: relative;
                    width: 8.4rem;
                    height: 8.4rem;
                    &__chara {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        background-color: #fff;
                        background-image: url('../img/gameCharaDemo.svg');
                        background-position: center;

                        // 正誤によって変更
                        .userSel {
                            position: absolute;
                            z-index: 100;
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                        .userSelTrue {
                            background-image: url('../img/trueIconMini.svg');
                            background-position: center;
                        }
                        .userSelFlase {
                            background-image: url('../img/falseIconMini.svg');
                            background-position: center;
                        }
                        // 正誤によって変更
                    }
                    &__num {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                         width: 2.5rem;
                         height: 2.5rem;
                         border-radius: 50%;
                         background-color: #FDD154;
                         p {
                             font-size: 2.0rem;
                             color: #8C4300;
                             text-align: center;
                             margin: 0.3rem 0 0 0;
                         }
                    }
                }
                .playerName {
                    font-size: 1.3rem;
                    text-align: center;
                }
            }
        }
    }
}